{{- range .Values.certificates }}
{{- $cert := . }}
{{- $secretName := default $cert.name $cert.secretName }}
{{- $existing := lookup "v1" "Secret" $.Release.Namespace $secretName }}
{{- if not $existing }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName | quote }}
  namespace: {{ $.Release.Namespace | quote }}
  labels:
    {{- include "cert-manager.labels" $ | nindent 4 }}
type: Opaque
data: {}
{{- end }}
{{- end }}

