{{- range .Values.issuers }}
{{- $issuer := . }}
{{- $namespace := default $.Release.Namespace $issuer.namespace }}
---
apiVersion: v1
kind: Secret
metadata:
  namespace: {{ $namespace | quote }}
  name: {{ include "cert-manager.cloudflareSecretName" $issuer }}
  labels:
    {{- include "cert-manager.labels" $ | nindent 4 }}
stringData:
  api-key: {{ $issuer.cloudflare.apiKey | quote }}
type: Opaque
immutable: false
{{- end }}

